<div class="menu">
  <nav class="menu-content">
    {% for item in site.data.settings.menu %}
    <!-- default menu path -->
      {% if item.path == nil %}
        {% assign path = 'menu' %}
      {% else %}
        {% assign path = item.path %}
      {% endif %}

      {% if item.url %}
        <a href="{{ site.github.url }}/{{ path }}/{{ item.url }}">{{ item.name }}</a>
      {% else %}
      <div class="dropdown">
        <span>
          {{ item.name }}
        </span>
          <div class="dropdown-content">
            {% for subitem in item.submenu %}
              <a href="{{ site.github.url }}/{{ path }}/{{ subitem.url }}">{{ subitem.name }}</a>
            {% endfor %}
          </div>
      </div>
      {% endif %}
    {% endfor %}
  </nav>
  <nav class="social-icons">
    {% for item in site.data.settings.social %}
      <a href="{{ item.link }}" target="_blank"><i class="fa fa-{{ item.icon }}" aria-hidden="true"></i></a>
    {% endfor %}
  </nav>
</div>
