---
layout: page
---

<div style="display: flex;">
    <img alt="Picture of me with grasses"
         src="{{ site.github.url }}/assets/img/{{ page.face_image }}"
         style="flex: 1; max-width: 28.5%; align-self: center; margin-right: 2em"/>
    <img alt="Picture of me in field"
         src="{{ site.github.url }}/assets/img/{{ page.field_image }}"
         style="flex: 1; max-width: 28.5%; align-self: center; margin-right: 2em"/>

    <div style="flex: 2.5;">
        {{ content | markdownify }}
    </div>
</div>
