---
layout: page
---

<div style="display: flex;">
<img alt="Justin keying a grass at Occidental Arts and Ecology Center"
         src="{{ site.github.url }}/assets/img/{{ page.field_image }}"
         style="flex: 1; max-width: 28.5%; align-self: center; margin-right: 2em"/>
    
    
 <div style="flex: 2.5;">
        {{ content | markdownify }}
    </div>
</div>

<div style="display: flex;">
    <img alt="Justin adjusting METER soil moisture sensor readout"
         src="{{ site.github.url }}/assets/img/{{ page.face_image }}"
         style="flex: 1; max-width: 28.5%; align-self: center; margin-right: 2em"/>
    

    <div style="flex: 2.5;">
        {{ content | markdownify }}
    </div>
</div>

<div style="display: flex;">
<img alt="Justin doing Stipa pulchra biomass"
         src="{{ site.github.url }}/assets/img/{{ page.biomass_image }}"
         style="flex: 1; max-width: 28.5%; align-self: center; margin-right: 2em"/>
    
    
 <div style="flex: 2.5;">
        {{ content | markdownify }}
    </div>
</div>

<div style="display: flex;">
<img alt="Justin taking LICOR measurements"
         src="{{ site.github.url }}/assets/img/{{ page.LICOR_image }}"
         style="flex: 1; max-width: 28.5%; align-self: center; margin-right: 2em"/>
    
    
 <div style="flex: 2.5;">
        {{ content | markdownify }}
    </div>
</div>

<div style="display: flex;">
<img alt="Justin taking vegetation data at Watsonville Wetland Watch"
         src="{{ site.github.url }}/assets/img/{{ page.Umbrella_image }}"
         style="flex: 1; max-width: 28.5%; align-self: center; margin-right: 2em"/>
    
    
 <div style="flex: 2.5;">
        {{ content | markdownify }}
    </div>
</div>
