---
layout: page
---
<div style="display: flex;">
	<div style="flex: 1; margin-right: 2em">
	    <img alt="Picture of me"
	         src="{{ site.baseurl }}/assets/img/{{ page.field_image }}"
	    />

		<div class="twitter-div">
			<a class="twitter-timeline" href="https://twitter.com/JustinCLuong">Tweets by JustinCLuong</a>
			<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		</div>
	</div>

    <div style="flex: 2.5;">
        {{ content | markdownify }}
    </div>

</div>
